@use '@styles' as *;

.ProgressBar {
	width: 100%;
	background-color: $light_gray_color;
	border-radius: 50px;
	height: 10px;

	.Progress {
		height: 100%;
		background-color: $blue_color;
		border-radius: 50px;
		transition: width 0.4s ease;
	}

	&.Red .Progress {
		background-color: $red_color;
	}
}
