@use '@styles' as *;

.LoginWindow {
	.FeatureElement {
		margin-bottom: 10px;

		&:first-child {
			margin-bottom: 25px;
		}

		&.ButtonBody {
			display: flex;
			justify-content: center;
		}
	}

	.RegistrationLink {
		text-align: center;
	}
}
