@use '@styles' as *;

.RegisterWindow {
	.FeatureElement {
		&.SmallMargin {
			margin-bottom: 10px;
		}

		&.LargeMargin {
			margin-bottom: 25px;
		}

		&.ErrorMessage p {
			color: $red_color;
			text-align: right;
		}

		&.ButtonBody {
			display: flex;
			justify-content: center;
		}
	}

	.AuthLink {
		text-align: center;
	}
}
