@use '@styles' as *;

.Input {
	position: relative;

	p {
		color: $black_color;
		font-size: 14px;
		font-weight: 400;
		user-select: none;
	}

	input {
		outline: none;
		background-color: initial;
		border: none;

		font-family: 'Lato', sans-serif;
		color: $black_color;
		font-size: 16px;
		font-weight: 700;
		padding: 3px 10px;
		border-bottom: 2px solid $dark_gray_color;
		width: 100%;

		&::placeholder {
			color: $dark_gray_color;
		}
	}
	
	button {
		border: none;
		outline: none;
		background-color: initial;
		cursor: pointer;

		color: rgba($color: $black_color, $alpha: 0.75);
		font-size: 18px;
		position: absolute;
		bottom: 3px;
		right: 10px;
	}
}
